.subBar {
  font-family: 'Niconne', cursive;
  color: #F0F0B9;
}
.btn {
  color: #F0F0B9;
  background: #101C7A;
}
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
h1 {
  font-size: 5rem;
  font-family: 'Niconne', cursive;
  color: #F0F0B9;
}
h2,
h3,
h4,
h5 {
  font-family: 'Niconne', cursive;
}
h2 {
  font-size: 3rem;
}
h3,
h4,
h5 {
  font-size: 2.3rem;
}
p {
  font-size: 1.5rem;
  font-family: 'Caveat', cursive;
}
.topics,
.notes {
  background: #F0F0B9;
}
footer {
  background: #101C7A;
  font-family: 'Niconne', cursive;
  color: #F0F0B9;
  line-height: 1.8;
}
header {
  background: #101C7A;
  font-family: 'Niconne', cursive;
  color: #F0F0B9;
  height: 25vh;
}
header nav {
  display: flex;
  justify-content: space-evenly;
}
header nav a {
  color: #F0F0B9;
  font-size: 27px;
  text-decoration: none;
}
header nav a:hover {
  text-decoration: underline;
}
header h1 {
  padding-top: 3%;
}
header img {
  width: 8%;
  padding-top: 1%;
}
header .logo {
  display: flex;
  justify-content: center;
  margin-right: 9%;
}
.topics h2 {
  text-align: center;
}
.topics .topicOne h3 {
  margin-left: 8%;
}
.topics .topicOne img {
  width: 30%;
  border-radius: 15px;
}
.topics .topicOne p {
  margin-left: 3%;
}
