h1{
    font-size:75px;
    .subBar()
   
}//end h1

h2,h3,h4,h5{
    font-family: 'Niconne', cursive;
}
h2{
    font-size:50px;
}
h3,h4,h5{
    font-size:27px;
}
p{
    font-size:20px;
    font-family: 'Caveat', cursive;
}
.topic,.notes{
    background:@main;
}
footer{
    background:@bar;
    .subBar();
    line-height: 1.8;
}