header{
    background:@bar;
    .subBar();
    
    a{
        color:@main;
        font-size:27px;
        text-decoration: none;
        &:hover{
            text-decoration:underline;
        }//end hover
    }//end a
}//end header