.members{
    h1{
        padding-top:2%;
        text-align: center;
    }//end h1
    .memberOne{
        text-align: center;
       
        img{
            .card();
        }//end img
        .cardOne{
           p{
            margin-left:42%;
            width:17%;
           }//end p
        }//end card One
        
    }//end memberOne
    .memberTwo{
        text-align: center;
        img{
            .card();
        }//end img
        .cardTwo{
            p{
             margin-left:40%;
             width:20%;
            }//end p
         }//end card Two
    }//end memberTwo
    .memberThree{
        text-align: center;
        img{
            .card();
        }//end img
        
    }//end memberThree
    .memberFour{
        text-align: center;
        img{
            .card();
        }//end img
        
    }//end memberFour
    .memberFive{
        text-align: center;
        img{
            .card();
        }//end img
    }//end memberFive
    .memberSix{
        text-align: center;
        
        img{
            .card();
        }//end img
        p{
          margin-left:38%;
          padding-bottom:3%;
            width:27%;
        }
        
    }//end memberSix
    // @media(max-width: 500){

    // }//end @media
    
    
}///end members