.notes{
    padding-top:3%;
    h2{
        text-align:center;
    }//end h2
    .noteOne{
        width:25%;
    }//end noteOne
    .researchNotes{
        margin-top:3%;
        display:flex;
    }//end research notes
}//end notes